{% extends "layout.html" %} 

<!-- Load Stuff -->
{% load static %}

<!-- Title -->
{% block title %}Explore{% endblock title %}

<!-- Blog List -->

{% block content %}

<!-- Explore Header -->
<form class="content-header" action="{% url 'explore' %}" method="get">
    <!-- Content-Header Upper (Search and Title) -->
    <div class="content-header-titlebar">
        <h1 class="heading-main">
            <!-- Showing results or EXPLORE -->
            {% if query %}
            <span class="fc-light">Results For</span> {{query}} {% else %} Explore Blogs {% endif %}
        </h1>
        <!-- Search bar -->
        <div class="searchbar">
            <input
                name="query"
                type="search"
                value="{{query}}"
                class="input search-input"
                maxlength="100"
                placeholder="Search blogs or profiles" />
            <button class="btn btn-primary">Search</button>
        </div>
    </div>

    <!-- Divider -->
    <hr />
</form>

<!-- Categories -->
<div class="mt-1">
    <!-- All Category -->
    <a href="{% url 'explore' %}" class="tag-pill {% if not category_slug and not tag_slug %}tag-pill-active{% endif %}">All</a>

    <!-- Iterate Categories -->
    {% for category in categories %}
    <a
        href="{% url 'explore_category' category.slug %}"
        class="tag-pill {% if category_slug == category.slug %}tag-pill-active{% endif %}"
        >{{category.name}}</a
    >
    {% endfor %}
</div>

<!-- Posts -->
{% include "components/cards_container.html" %}

<!-- EndBlock -->
{% endblock content %}
