{% extends "layout.html" %} {% load static %}

<!-- Title -->
{% block title %}User Profile of {{profile.user.username}}{% endblock title %}

<!-- Content -->
{% block content %}

<!-- Banner -->
<div class="profile-banner mb-1">
    <!-- Profile Banner -->
    {% if profile.profile_banner %}
    <img src="{{ profile.profile_banner.url }}" alt="{{profile.user.username}}-banner" />
    {% endif %}
</div>

<!-- Profile Detail -->
<div class="profile-detail-container">
    <!-- Avatar (Profile Picture) -->
    {% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="avatar" class="avatar avatar-large" />
    {% else %}
    <img src='{% static "icons/avatar.svg" %}' alt="avatar" class="avatar avatar-large" />
    {% endif %}

    <!-- Profile Details -->
    <div class="flex flex-column gap-10">
        <div>
            <!-- Header -->
            <div class="flex justify-between">
                <h2 class="heading-main">
                    <!-- Name -->
                    {% if profile.fullname %} {{profile.fullname}} {% else %} {{profile.user.username}} {% endif %}
                </h2>

                <!-- Actions Buttons -->
                <div>
                    <!-- Action buttons (Follow, Unfollow, Edit) -->
                    <!-- Only when user does not already follow this -->
                    {% if request.user != profile.user %}
                    <!-- Follow button -->
                    {% if not already_following %}
                    <a href="{% url 'users:follow_user' profile.user.username %}" class="btn btn-primary">Follow</a>
                    {% else %}
                    <!-- Unfollow button -->
                    <a href="{% url 'users:unfollow_user' profile.user.username %}" class="btn btn-tertiary"
                        >Unfollow</a
                    >
                    {% endif %} {% else %}
                    <!-- Edit Profile Button -->
                    <a href="{% url 'users:edit_profile' profile.user.username %}" class="btn btn-tertiary"
                        >Edit Profile</a
                    >
                    {% endif %}
                </div>
            </div>

            <!-- Username / Followers -->
            <div class="flex gap-10">
                <p class="accent-text">@{{profile.user.username}}</p>
                <span><strong>{{followers.count}}</strong> Followers</span>
            </div>
        </div>

        <!-- Bio -->
        <div>
            {% if profile.bio %}
            <p>{{profile.bio}}</p>
            {% else %}
            <p>No bio.</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Tabs -->
<div class="profile-tabs">
    <!-- Tab Buttons -->
    <div class="profile-tab-btns-container">
        <button class="btn btn-tabs btn-tabs-active">Posts ({{profile.user.posts.count}})</button>

        {% if profile.user == request.user %}
        <button class="btn btn-tabs" 
        hx-get="{% url 'users:profile_saved' %}"
        hx-target="#tabContentContainer"
        hx-swap="innerHTML"
        >Saved Posts ({{profile.user.save_set.count}})</button>
        <button class="btn btn-tabs">Reading History ({{profile.user.readinghistory_set.count}})</button>
        {% endif %}
        <span class="tabs-hr"></span>
    </div>

    <!-- Tab Containers -->
    <div class="profile-tab-container" id="tabContentContainer">{% include "components/cards_container.html" %}</div>
</div>

<!-- JS -->
<script>
    // Get buttons container
    const btn_container = document.querySelector(".profile-tab-btns-container");

    // Add event listener to all buttons
    btn_container.addEventListener("click", (event) => {
        // Get button through event.target
        if (event.target.className.includes("btn btn-tabs")) {
            const btn = event.target;

            // Already Activated?
            if (!btn.className.includes("btn-tabs-active")) {
                // Deactivate all btns
                btns = btn_container.getElementsByClassName("btn-tabs-active");
                for (let index = 0; index < btns.length; index++) {
                    const element = btns[index];
                    element.classList.remove("btn-tabs-active");
                }

                // Switch tabs
                btn.classList.add("btn-tabs-active");

            }
        }
    });
</script>

{% endblock content %}
